<table class="table table-sm table-hover">
  <!--Get the syntax of employeeService.employeeList from employee-list.component.ts-->
  <th>Name</th>
  <th>AppCode</th>
  <th>Details</th>

  <tr *ngFor="let employee of employeeService.employeeList">

    <!--Get the syntax from employee.model.ts-->
    <td>{{ employee.LastName }}, {{ employee.FirstName }}</td>
    <td>{{ employee.EmpCode }}</td>
    <td>
      <a class="btn" (click)="showForEdit(employee)">
        <i class="fa fa-pencil-square-o">Edit</i>
      </a>
      <a class="btn text-danger" (click)="onDelete(employee.EmployeeID)">
          <i class="fa fa-trash-o">Delete</i>
        </a>
    </td>
  </tr>
</table>